<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans|Oxygen|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="styles.css"/>
    <title>New User</title>
  </head>
  <body>
    <div class="container">
      <h1 class="headline">Create a new User</h1>
      <form class="loginForm" method="post" action="/createUser">
        <input type="text" name="name_user" value='' placeholder="username">
        <br>
        <input type="password" name="pass1" value='' placeholder="password">
        <br>
        <input type="password" name="pass2" value='' placeholder="re-enter password">
        <br>
        <button class="loginButton" type='submit'>create user</button>
      </div>
    </form>
  </body>
</html>
