<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble Home</title>
  </head>
  <body>
    <header>
      <a href="/homepage">Gabble |</a>
      <a href="/gab"> | Create a New Gab |</a>
      <a href="/logout"> Log Out</a>
    </header>
    <h1>Gabble</h1>
    {{#userPosts}}
    <p class='username'>{{user.name}}</p>
    <p>{{content}}</p>
    <p class='likes'>Likes {{postLikes.length}}</p>
    <form method="post" action="/likes"><button name="like_button" value="{{id}}" type="submit">Like</button></form>
    <form method="post" action="/delete"><button name="delete_button" value="{{id}}" type="submit">Delete</button></form>
    <hr>
    {{/userPosts}}

  </body>
</html>
