<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wrong Username or Password</title>
  </head>
  <body>
    <h2>Sorry, you seem to have entered the wrong username or password. If you dont have an account please feel free to create one</h2>
    <a href='/'><button>login</button></a><a href="/createUser"><button>create user</button></a>
  </body>
</html>
