/*#EB7F00
#F3FFE2
#ACF0F2
#1695A3
#225378
font-family: 'Open Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

Dog Idea Fonts
font-family: 'Fresca', sans-serif;
font-family: 'Fruktur', cursive;

*/
/* Text:  #1C344D
     #287D7D
     #91C46C
     #C6E070
     #F2F2F2*/


/*background: red; /* For browsers that do not support gradients */
 /*background: -webkit-linear-gradient(left top, #1695A3, #ACF0F2);  /*For Safari 5.1 to 6.0 */
 /*background: -o-linear-gradient(bottom right, #1695A3, #ACF0F2); /* For Opera 11.1 to 12.0 */
 /*background: -moz-linear-gradient(bottom right, #1695A3, #ACF0F2); /* For Firefox 3.6 to 15 */
 /*background: linear-gradient(to bottom right, #1695A3, #ACF0F2); /* Standard syntax */
  /*background-color: linear-gradient(to right, #1695A3, #ACF0F2)*/




.container {
  z-index: 1;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.container::after {
  content: "";
  background-image: url('./BearGrass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: */
  z-index: -1;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.headline {
  font-family: 'Fresca', sans-serif;
  color: #666356;
  font-size: 5em;
  text-align: center;
  flex-basis: 100%;
  margin: 0;
  transition: .2s ease-in-out;
}

.headline:hover { transform: scale(1.1); }

.dogBone {
  background-image: url('./dogbone.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 13vw;
  opacity: .8;
  margin: 0;
}


.loginForm input {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 2em;
  width: 20vw;
  height: 5vw;
  margin:10% 0;
  color:  #666356;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  z-index: 2;
}

.loginButton {
  flex-basis: 100%;
  width: 26%;
  margin: 0 37%;
  border-radius: 10px;
  background-color: #EAEAE9;
  color:#666356;
  border: 0 solid white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  box-shadow: 5px 5px 10px #EAEAE9;
}

.loginButton:active {
  box-shadow: none;
}

.signup {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  text-align: center;
  flex-basis: 100%;
  width: 30%;
  padding: 0;
  margin: 0 35%;
  color:#EAEAE9;
  text-decoration: none;
}

.sorry-heading {
  font-size: 2em;
}
/*--------------------------------------

Home Page Styling

--------------------------------------*/
.gabble {
  text-shadow:2px 2px 4px #F3FFE2;
  margin: 0;
  z-index: 1;
}

.navBar {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: white;
  opacity: .9;
  z-index: 0;
}

.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading form {
  margin:2.5% 10% 0 10%;
  display: flex;
}

.heading form textarea {
  height: 10vh;
  width: 70%;
  margin: 0;
}

.heading form button {
  width: 20%;
  margin-left: 5%;
}

.post-container {
  background-color: white;
  opacity: .8;
  border-radius: 10px;
  z-index: 0;
  margin: 5% 0;
  display: grid;
  grid-template-columns: 70% 30%;
}

.post-content-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.username {
  font-family: 'Fresca', sans-serif;
  font-size: 2em;
  margin: 0;
}

.content {
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
